
.shoppingLogo {
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition: fill 0.5s;
  -moz-transition: fill 0.5s;
  -ms-transition: fill 0.5s;
  -o-transition: fill 0.5s;
  transition: fill 0.5s;

}
.shoppingLogo:hover {
  fill: rgb(230, 0, 255);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  font-size: 14px;
}
.shopping_logo_container{
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  margin-top: -40px;
}

.product_counter_logo{
  background-color: red;
  text-align: center;
  position: absolute;
  color: white;
  margin-top: -2px;
  margin-right: -10px;
border-radius: 50%;
width: 20px;
height:20px;
}
.inc{
  width: 40px;
  height: 20px;
}
.input_search{
  height: 36px;
  position: absolute;
  padding-left: 20px;
width: 100%;
height: 100%;
  border:none;
  background: linear-gradient(0deg, #e0e0e0, #e0e0e0),
    linear-gradient(0deg, #f2f2f2, #f2f2f2);
  border-radius: 12px;
  outline: none;
  font-size: 18px;
  border-radius: 30px;
}
.box{
  max-width: 400px;
  width: 100%;
  -webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
.categories{
  -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}
.categories:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
 
}
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.logoContainer{
  background-color: blue;
}
.searchLogo{
  width: 50px;
  position: absolute;
  border-radius: 50%;
  right: 0px;
  top: 0;
  padding: 10px;
background-color: blue;
  height: 100%;
  fill: white;
  cursor: pointer;
  text-align: center;

}
.search_results_section{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#check:checked ~ .search_box{
max-width: 380px;
}
.input_products_filter{
  background-color: rgb(255, 255, 255);
  display: flex;
  width: 400px;
  border-radius: 10px;
  border: 2px gray solid;
  position: absolute;
  margin-top: 60px;
  max-height: 500px;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 2;
  -webkit-animation: scale-up-ver-top 0.7s cubic-bezier(0.190, 0.575, 0.565, 1.000) both;
	        animation: scale-up-ver-top 0.7s cubic-bezier(0.190, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}

.input_products_filter::-webkit-scrollbar {
  width: 10px;
}

.input_products_filter::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

.input_products_filter::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #d55959;
}
.searchLogo:hover{
  background-color: rgb(92, 92, 255);
  transition: all 0.3s ease-out;
}
.categories_container{
  display: flex;
  width: 400px;
  justify-content: space-between;
  margin-left: -40px;
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.link_container{
  text-decoration: none;
  color: blue;
}
.container_wrapper{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}


@media screen and (max-width:425px) {
  .categories_container{
    display: flex;
    width: 100;
    justify-content: space-between;
    margin-left: 0px;
    overflow-x: hidden;

  }
  .input_search{
    height: 36px;
    position: absolute;
    padding-left: 20px;
  width: 100%;
  height: 100%;
    border:none;
    background: linear-gradient(0deg, #e0e0e0, #e0e0e0),
      linear-gradient(0deg, #f2f2f2, #f2f2f2);
    border-radius: 12px;
    outline: none;
    font-size: 18px;
    border-radius: 30px;
  }
  .input_products_filter{
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 300px;
    border-radius: 10px;
    border: 2px gray solid;
    position: absolute;
    margin-top: 60px;
    max-height: 500px;
    overflow: scroll;
    overflow-x: hidden;
    z-index: 2;
    -webkit-animation: scale-up-ver-top 0.7s cubic-bezier(0.190, 0.575, 0.565, 1.000) both;
            animation: scale-up-ver-top 0.7s cubic-bezier(0.190, 0.575, 0.565, 1.000) both;
  }
  .shoppingLogo {
    width: 30px;
    height: 30px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transition: fill 0.5s;
    -moz-transition: fill 0.5s;
    -ms-transition: fill 0.5s;
    -o-transition: fill 0.5s;
    transition: fill 0.5s;
    z-index: 2;
    position: relative;
  }
  .box{
    
    max-width: 300px;
    width: 100%;
    -webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  }
  .categories{
    font-size: 13px;
  }
}
@media screen and (max-width:385px){
  .box{
    margin-left: -90px;
    max-width: 380px;
    width: 100%;
    -webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  }
  .categories_container{
    display: flex;
    width: 400px;
    overflow-x: hidden;
    justify-content: space-between;
    margin-left: 0px;
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
}
